<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Permission to use internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:enableOnBackInvokedCallback="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver
            android:name="com.example.HarIPart.GeofenceBroadcastReceiver"
            android:enabled="true"
            android:exported="true"></receiver>

        <activity
            android:name="com.example.NicoPart.SelectSosContactsListActivity"
            android:exported="false" />
        <activity
            android:name="com.example.MainActivity.AboutUs"
            tools:ignore="Instantiatable" />
        <activity
            android:name="com.example.NicoPart.SeeSosContactsActivity"
            android:exported="false" />
        <activity
            android:name="com.example.NicoPart.EditEmergencyContactActivity"
            android:exported="false" />
        <activity
            android:name="com.example.NicoPart.SosDetailsActivity"
            android:exported="false" />
        <activity
            android:name="com.example.HarIPart.AgencyUserUnsafeZone"
            android:exported="false" />
        <activity
            android:name="com.example.HarIPart.RegularUserUnsafeZone"
            android:exported="false" />
        <activity
            android:name="com.example.BimoPart.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.MainActivity.MainActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="<Google-Map-API-Key>" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.NicoPart.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>